<section class="provide">
	<div class="container">
		<div class="flex provide__flex ">
			<div class="info provide__info">
				<h2 class="info__title provide-info__title">Do you know we can provide for you</h2>
				<p class="info__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur libero nostrum consequatur dolor. Nesciunt eos dolorem enim sint libero impedit ipsa perspiciatis vel dolore reiciendis ratione quam, non sequi sit!</p>
				<button class="btn">Learn More</button>
			</div>
			<div class="flex provide__flex">
				<div class="info-provide">
					<span class="info-provide__icon"></span>
					<h3 class="info-provide__title">Management</h3>
					<p class="info-provide__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nobis vero ullam quae. Repellendus dolores quis tenetur enim distinctio optio.</p>
				</div>
				<div class="info-provide">
					<span class="info-provide__icon"></span>
					<h3 class="info-provide__title">UI/UX Design</h3>
					<p class="info-provide__text">Eligendi similique, laboriosam maxime corporis, quasi labore provident doloribus, praesentium animi nobis aliquam ratione eaque rerum error quaerat saepe adipisci.</p>
				</div>
				<div class="info-provide">
					<span class="info-provide__icon"></span>
					<h3 class="info-provide__title">Logo / Branding</h3>
					<p class="info-provide__text">Voluptate deserunt et harum fuga accusamus aspernatur aperiam excepturi vitae tenetur facere! Eligendi suscipit quasi fuga earum dolores perferendis, assumenda!</p>
				</div>
				<div class="info-provide">
					<span class="info-provide__icon"></span>
					<h3 class="info-provide__title">Animation</h3>
					<p class="info-provide__text">Culpa ab illo consequatur eveniet, ipsa inventore dolorem veniam ducimus temporibus accusantium nesciunt vel quia laudantium mollitia, velit cumque totam!</p>
				</div>
			</div>
		</div>
	</div>
</section>