<section class="strong">
	<div class="container">
		<div class="strong__flex">
			<div class="info">
				<h2 class="info__title">our strong organization</h2>
				<p class="info__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat accusamus aliquam perspiciatis, necessitatibus est, doloremque voluptatum similique enim nesciunt accusantium consectetur, unde nemo laboriosam sint quo ab voluptatibus maxime laudantium.</p>
				<div class="btn btn_red">Contact Us</div>
			</div>
			<div class="info-video">
				<img src="images/video.jpg" alt="video">
			</div>
		</div>
	</div>
</section>